numpy
scipy
scikit-image
traitlets
requests
bqplot
ipywidgets
matplotlib
pandas
ipyleaflet
pythreejs
# ipyevents
# ipysheet
ipytree
# pywwt
ipympl
voila
jupyterlab=3
ipyvuetify
voila-vuetify
sidecar
ipyvolume
