notebook
numpy
scipy
scikit-image
traitlets
requests
bqplot
ipywidgets
matplotlib
pandas
ipyleaflet==0.12.6
pythreejs
ipyevents
ipysheet
ipytree
pywwt
ipympl
voila>=0.1.2
jupyterlab>=2
ipyvuetify
voila-vuetify
sidecar
ipyvolume==0.6.0-a.6